name: Deploy Portfolio

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout repository
      uses: actions/checkout@v4  # Esta action clona el repositorio creando un runner autom치tico que se usar치 para hacer el dist
      with:
        fetch-depth: 0
        
    - name: Setup Node.js
      uses: actions/setup-node@v4 # Esta acci칩n configura node      
        
    - name: Install dependencies
      run: npm install
      
    - name: Build Vue app
      run: npm run build
      
    - name: Upload ftp
      uses: sebastianpopp/ftp-action@releases/v2 # Esta acci칩n sube los archivos al host por ftp
      
      with:
        host: ${{ secrets.SERVERFTP }}
        user: ${{ secrets.USERNAMEFTP }}
        password: ${{ secrets.PASSWORDFTP }}
        localDir: "dist"
